<h1>Query Page</h1>
<% form_tag('/querys') do |q| %>
<%= label_tag 'namelabel1', 'Name1' %>
<%= text_field_tag 'name1' %>
<br/>
<%= label_tag 'namelabel2', 'Name2' %>
<%= text_field_tag 'name2' %>
<br/>
<%= submit_tag 'Query' %>
<% end %>


